.list {
  height: 100%;
}

.list ul {
  margin: 0;
  padding: 0;
}

.list-item {
  list-style: none;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.list-item:hover {
  background-color: var(--hover-color);
}

.country {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}

.country-flag {
  width: 1.8rem;
  height: 1.2rem;
}

.list-item:not(.list-item:last-child) {
  border-bottom: 1px solid var(--secondary-color);
}

.list-title {
  text-align: center;
}
