.list-container {
  background-color: red;
  height: 100vh;
  padding: 0;
}

.map-container {
  background-color: green;
  min-height: 100vh;
}

.table-container {
  background-color: blue;
  min-height: 60vh;
}

.chart-container {
  background-color: yellow;
  min-height: 40vh;
}
