.table table {
  width: 100%;
  border-collapse: collapse;
  margin: 1rem 0;
}

.table.fullscreen {
  padding: 10rem;
  font-size: 2rem;
}

.table tr:hover {
  background-color: var(--hover-color);
}

.table td,
th {
  padding: 0.5rem;
  border: 1px solid var(--secondary-color);
}

.table th {
  text-align: center;
}

.deaths {
  color: var(--text-color-danger);
}

.recovered {
  color: var(--text-color-success);
}
