*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-color: #0d1b2a;
  --secondary-color: #415a77;
  --hover-color: #14213d;
  --color-dark: #081217;
  --text-color-light: #b3dee2;
  --text-color-danger: #e63946;
  --text-color-success: #38b000;
  --font-size: 1rem;
}

body {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif !important;
  background-color: var(--primary-color) !important;
}

.block {
  position: relative !important;
  padding: 1rem;
  background-color: var(--primary-color);
  color: var(--text-color-light) !important;
  overflow: auto !important;
  margin: 0 !important;
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid var(--secondary-color);
  border-radius: 4px;
}

.control {
  background: none;
  border: none;
  color: var(--text-color-light);
  font-size: 1.2rem;
  transition: all 0.2s;
}

.control:hover {
  opacity: 0.6;
}

.control:active {
  transform: translate(1px, 1px);
  color: #ff6347;
}
