.map {
  height: 100vh;
}

.map-container {
  height: 100%;
  background-color: var(--color-dark);
}

.icon-marker {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 0.8em;
  border-radius: 100%;
  box-shadow: 0 0 1px 3px rgba(0, 0, 0, 0.6);
}

.icon-marker.cases {
  background-color: var(--text-color-light);
}

.icon-marker.deaths {
  background-color: var(--text-color-danger);
}

.icon-marker.recovered {
  background-color: var(--text-color-success);
}

.icon-marker h5 {
  text-align: center;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid var(--text-color-light);
}

.icon-marker:hover > .icon-marker-tooltip {
  display: block;
}

.icon-marker-tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
  width: 16em;
  font-size: 1.4em;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 0.4em;
  margin-bottom: 1em;
  color: var(--text-color-light);
}

.icon-marker-tooltip:before {
  display: block;
  position: absolute;
  bottom: -0.6em;
  left: 50%;
  content: '';
  width: 1.4em;
  height: 1.4em;
  background-color: rgba(0, 0, 0, 0.8);
  transform: rotate(45deg);
  margin-left: -0.7em;
}

.icon-marker-tooltip ul {
  list-style: none;
  padding: 0;
}

.icon-marker-tooltip ul span.deaths {
  color: var(--text-color-danger);
}

.icon-marker-tooltip ul span.recovered {
  color: var(--text-color-success);
}
